## Proyecto 1 - Aprendizaje Automático
### Integrantes:
- A. Badilla Olivas B80874
- Enrique Vilchez Lizano C18477
- Brandon Mora Umaña 
- Joseph Valverde Kong C18100

In [109]:
# Import necessary modules

# Models
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

# Utils
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelBinarizer
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_auc_score

from sklearn.model_selection import GridSearchCV

# Wine Quality Dataset

## Dataset Preparation

In [110]:
# Read dataset
wine_data = pd.read_csv("datasets/winequality_red.csv")
wine_data.head()
wine_data.corr()

# Remove rows with empty data
wine_data.dropna(axis=0, subset=['quality'], inplace=True)

# Separate data
y_wine = wine_data['quality']
X_wine = wine_data.drop(columns=['quality'])
X_wine.describe()

# Modify quality labels to 1 or 0
y_wine = y_wine.apply(lambda x: 1 if x > 6 else 0)

# Normalize data
normalizer = StandardScaler()
X_wine_normalized = pd.DataFrame(normalizer.fit_transform(X_wine))
X_wine_normalized.columns = X_wine.columns.astype(str)
X_wine_normalized

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
1,-0.298547,1.967442,-1.391472,0.043416,0.223875,0.872638,0.624363,0.028261,-0.719933,0.128950,-0.584777
2,-0.298547,1.297065,-1.186070,-0.169427,0.096353,-0.083669,0.229047,0.134264,-0.331177,-0.048089,-0.584777
3,1.654856,-1.384443,1.484154,-0.453218,-0.264960,0.107592,0.411500,0.664277,-0.979104,-0.461180,-0.584777
4,-0.528360,0.961877,-1.391472,-0.453218,-0.243707,-0.466193,-0.379133,0.558274,1.288643,-0.579207,-0.960246
...,...,...,...,...,...,...,...,...,...,...,...
1594,-1.217796,0.403229,-0.980669,-0.382271,0.053845,1.542054,-0.075043,-0.978765,0.899886,-0.461180,0.072294
1595,-1.390155,0.123905,-0.877968,-0.240375,-0.541259,2.211469,0.137820,-0.862162,1.353436,0.601055,0.729364
1596,-1.160343,-0.099554,-0.723916,-0.169427,-0.243707,1.255161,-0.196679,-0.533554,0.705508,0.542042,0.541630
1597,-1.390155,0.654620,-0.775267,-0.382271,-0.264960,1.542054,-0.075043,-0.676657,1.677400,0.305990,-0.209308
1598,-1.332702,-1.216849,1.021999,0.752894,-0.434990,0.203223,-0.135861,-0.666057,0.511130,0.010924,0.541630

## Decision Trees

## kNN

## Neural Network

# Credit Card Frprovalsaudulet DatasetAp

In [111]:
# Read dataset
credit_card_data = pd.read_csv("datasets/credit_card_approvals.csv")
credit_card_data.head()

# Remove empty rows
credit_card_data.dropna(axis=0, subset=['Approved'], inplace=True)

# Separate data
y_credit = credit_card_data['Approved']
X_credit = credit_card_data.drop(columns=['Approved'])

cat_cols = X_credit.select_dtypes(include='object').columns.tolist()
num_cols = X_credit.select_dtypes(include=['int64', 'float64']).columns.tolist()
print(cat_cols)
print(num_cols)

# Normalize numerical values and transformm categorical ones
pipeline=ColumnTransformer([
    ('numerical', StandardScaler(), num_cols),
    ('categorical', OrdinalEncoder(), cat_cols),
])

X_credit_normalized = pd.DataFrame(pipeline.fit_transform(X_credit))
X_credit_normalized.columns = num_cols + cat_cols
print(X_credit_normalized.head())

['Industry', 'Ethnicity', 'Citizen']
['Gender', 'Age', 'Debt', 'Married', 'BankCustomer', 'YearsEmployed', 'PriorDefault', 'Employed', 'CreditScore', 'DriversLicense', 'ZipCode', 'Income']
     Gender       Age      Debt   Married  BankCustomer  YearsEmployed  \
0  0.661438 -0.057723 -0.956613  0.560612      0.556146      -0.291083
1 -1.511858  2.291317 -0.060051  0.560612      0.556146       0.244190
2 -1.511858 -0.591826 -0.856102  0.560612      0.556146      -0.216324
3  0.661438 -0.310853 -0.647038  0.560612      0.556146       0.456505
4  0.661438 -0.957176  0.174141  0.560612      0.556146      -0.153526

   PriorDefault  Employed  CreditScore  DriversLicense   ZipCode    Income  \
0       0.95465  1.157144    -0.288101       -0.919195  0.123399 -0.195413
1       0.95465  1.157144     0.740830       -0.919195 -0.791213 -0.087852
2       0.95465 -0.864196    -0.493887       -0.919195  0.572076 -0.037144
3       0.95465  1.157144     0.535044        1.087908 -0.463333 -0.194837
4       0.95465 -0.864196    -0.493887       -0.919195 -0.348288 -0.195413

   Industry  Ethnicity  Citizen
0       7.0        4.0      0.0
1       9.0        1.0      0.0
2       9.0        1.0      0.0
3       7.0        4.0      0.0
4       7.0        4.0      1.0

## Logistic Regression

## Decision Trees

## kNN

## Neural Network